:root
{
    /*COLORS*/
    --dark_blue: cornflowerblue;
    --gray: gray;

    /*FONTS*/
     --headers_font: 'Lato';
}

.success
{
    color: greenyellow;
}


 input[type=text], textarea
{
    width: 25%;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid var(--gray);
    border-radius: 5px;
}

input[type=text], textarea:focus
{
    border-color: var(--dark_blue);
}

 select
{
    width: 15%;
    margin: 10px 0px;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    background-color: var(--color_light_blue);
    color: #555555;
}

 input[type=submit], button /*zmiana*/
{
    display: block;
    width: 25%;
    background-color: cornflowerblue;
     border:  none !important;
    color: var(--color_white);
    padding: 10px 30px;
    margin: 10px 0;
    transition: .5s;
    font-family: var(--headers_font);
    font-weight: bold;
    font-variant: small-caps;
}

input[type=submit], button:hover /*zmiana*/
{
    transform: scale(1.2);
    background-color: var(--color_blue);
    cursor: pointer;
}
